@use "../../styles/variables" as *;

.button {
    position: fixed;
    bottom: 12vh;
    right: 3vw;
    background-color: orange;
    padding: 0.5rem 0.75rem;
    color: $background-whitesmoke;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    border-style: none;
}