@use "../../styles/variables" as *;

.layout {
    height: 100vh;
    width: 100vw;

    &__header {
        padding: 0.875rem;
        height: 11vh;
        width: 100vw;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $background-green;
        color:$text-green;
        font-family: $font-primary;
        font-size: medium;
    }

    &__img {
        width: auto;
        height: 6vh;
        // filter: invert(100%) sepia(1%) saturate(2282%) hue-rotate(210deg) brightness(108%) contrast(86%);
    }

    // &__footer {
    //     padding: 0.5rem;
    //     height: 10vh;
    //     width: 100vw;
    //     position: fixed;
    //     bottom: 0;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     background-color: $background-green;
    //     color: $text-grey;
    // }
}