@use "../../styles/variables" as *;
// @use "../../styles/reset" as *;

.timeline {
    height: 100vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100vw;
    background-color: $background-green;
}